  <!DOCTYPE html>
      <html>
        <head>
          <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
          <meta name="viewport" content="width=device-width", initial-scale="1">
          <title>Movie_hi </title>
          <%-scripts%>
          <%-stylesheets%>
        </head>
        <style>
        .footer {
            color: #887;
            background-color: #eee;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 0px;
            bottom:0;

        }
        html {
         height: 100%;
         }
         body {
         margin: 0;
         height: 100%;
         }
         .wrap {
         min-height: 100%;
         position: relative;
         padding-bottom: 19px; /* footer height */
       }
        </style>
        <body>
          <header>
            <br>
            <br>
            <br>
            <br>
            <%-blocks.header%>
            <% if( typeof user !== "undefined") { %>
              <div class="alert alert-danger" style="margin-bottom: 10px" style="height:20px" ><%= user.nickname %>님 환영합니다. <a href="/auth/logout"> logout 할래요?</a></div>
            <% } else { %>
              <div ><a href="/auth/login"> 로그인하세요 </a></div>
            <% } %>
            <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-uppercase" href="#">Curve App <span class="label label-success text-capitalize">Free</span></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Features</a></li>
                        <li><button type="button" class="btn btn-success navbar-btn btn-circle">Sign in</button></li>
                    </ul>
                </div>
              </div>
            </nav>
          </header>
          <section>
            <%-body -%>
          </section>
          <footer class="footer text-center">
            <div class="container">
                <small>© Copyright 2015. Crafted with love by <a href="https://www.twitter.com/maridlcrmn">@maridlcrmn</a></small>
            </div>
        </footer>
        </body>
      </html>
