<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Movie Hi</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.js"></script> 
    <script type="text/javascript" language="javaScript">
        function wishadd_event(movie_id){
            alert('test');
            alert(movie_id);
            alert();
            alert(<%= rows[0].movie_id %>);
            user_id = <%= user.id%>;

            if(typeof user == 'undefined') { //typeof user !== "undefined" 조건 왜 안되지
                alert('로그인을 해주세요.');
            }
            else if(<%= user.id%>) {
                     alert('찜목록에 추가');
                //location.href="/wishadd?movie_id=" + movie_id;
            }
            else {
                alert("찜목록 추가 에러");
            }
            return;
        }
        function wishdel_event(user_id, movie_id){
            alert("test");
            if(user_id !== "undefined") { //typeof user !== "undefined" 조건 왜 안되지
                alert('찜목록에서 삭제');
                location.href="/wishdel?movie_id=" + movie_id;
            }
            else {
                alert('로그인을 해주세요.');
            }
            return;
        }
    </script>
</head>

<body>
	<!-- Header -->
	<nav>
		<span>
		<div class='logo'>MOVIE HI - !</div>
		<ul>
			<li>
				<a href="/" style="text-decoration:none; color: white;">홈</a>
			</li>
			<li><a href="/category" style="text-decoration:none; color: white;">카테고리</a></li>
			<li>평가하기</li>
		</ul>
	</span>
	<span>
			<ul>
			<% if(user) { %>
				<li>
					<%= user.nickname %>
				</li>
				<% } else { %>
					<li>
						<a href="/auth/login" style="text-decoration:none; color: white;">로그인</a>
					</li>
					<% } %>
				</span>
			</ul>
	</nav>

	<!-- Content -->
	<section>
		<div class="article">
			<h1>
				<%= rows[0].title %>
			</h1>
			<h4>
				<%= rows[0].original_title %>
			</h4>
			<hr color="gray" size="1">
            <p>감독:
				<%= rows[0].name %>   |  
					<%= rows[0].runtime %>분   |  
						 2,000 원</p>
			<hr color="gray" size="1">
			<h4>
				<%= rows[0].description %>
			</h4>

            
            
            
            <div>
            
          <% 
            if( typeof user !== "undefined") { 
        %>
             <div >로그인 <%=  user.id %></div>
        <% 
            } else { 
        %>
            <div>로그아웃</div>
                      
            
        <% } %>
            
            </div>
            
            
            
            
            
            
            
            

			<div style="width:100%; float:left;">
				<div style="width:50%; float:left;">
					<button class='likes' type="submit" onclick="wishadd_event(<%= rows[0].movie_id%>)">
						<div style="width:40%; float:left;">
							<img src="https://cdn3.iconfinder.com/data/icons/facebook-ui-flat/48/Facebook_UI-35-128.png" width=100% align: "middle">
						</div>
						<div style="width:60%; float:left;">
							<h3>보고싶어요</h3>
						</div>
					</button>
				</div>
				<div style="width:50%; float:left;">
					<button class='likes' type="submit" onclick="wishdel_event(<%= user.nickname %>,<%= rows[0].movie_id%>)">
						<div style="width:40%; float:left;">
							<img src="https://cdn3.iconfinder.com/data/icons/facebook-ui-flat/48/Facebook_UI-38-128.png" width=100% align: "middle">
						</div>
						<div style="width:60%; float:left;">
							<h3>관심없어요</h3>
						</div>
					</button>
				</div>
			</div>
			<button class='purchase' onclick="purchase()"><%= purchased ? '시청하기' : '구매하기' %></button>
		</div>
		<div class="poster">
			<iframe class='video' src="https://www.youtube.com/embed/<%= rows[0].youtube %>" frameborder="0" allow="autoplay; encrypted-media"
			 allowfullscreen></iframe>
		</div>
	</section>
	<script>
		const purchase = () => {
			fetch('/api/purchase', { method: 'POST' })
				.then(r => r.text())
				.then(r => {
					if (r=='true') confirm('구매 완료되었습니다. 지금 시청하실래요?') ? document.location.href = '/moviedetail/watch' : false;
					else alert('잔액이 부족합니다.');
				});
		}
	</script>

	<!-- Footer -->
	<footer>
		<div class="footer__links">
			<a href="#">무하 서비스 이용약관</a>
			<span>   |   </span>
			<a href="#" class="privacy">개인정보 취급방침</a>
			<span>   |   </span>
			<a class="" href="/help">고객센터</a>
			<span>   |   </span>
			<a href="http://frograms.com/joinus" target="_blank">채용정보</a>
		</div>
		<div class="footer__contact-info" data-reactid=".2dgluquabr4.6.1">
			<div class="footer__contact" data-reactid=".2dgluquabr4.6.1.0">
				<div class="footer__contact-title" data-reactid=".2dgluquabr4.6.1.0.0">고객센터(이용 및 결제 문의)</div>
				<div class="footer__contact-desc" data-reactid=".2dgluquabr4.6.1.0.1">
					<a href="mailto:cs@watchaplay.net" data-reactid=".2dgluquabr4.6.1.0.1.0">cs@watchaplay.net</a>
					<span data-reactid=".2dgluquabr4.6.1.0.1.1"> / 02-515-9985(유료)</span>
				</div>
			</div>
			<div class="footer__contact" data-reactid=".2dgluquabr4.6.1.1">
				<div class="footer__contact-title" data-reactid=".2dgluquabr4.6.1.1.0">제휴 및 대외 협력</div>
				<div class="footer__contact-desc" data-reactid=".2dgluquabr4.6.1.1.1">
					<a href="mailto:contact@watcha.com" data-reactid=".2dgluquabr4.6.1.1.1.0">contact@watcha.com</a>
					<span data-reactid=".2dgluquabr4.6.1.1.1.1"> / 070-7554-9696 (유료)</span>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>