<!DOCTYPE html>
    <html style="display:white">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <link rel="stylesheet" type="text/css" href="/css/mypage.css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

<style>
footer {
    box-sizing: border-box;
  	margin: 0;
    background: #121212;
  	height: 160px;
  	width: 100%;
  	bottom: 0;
  	top: 850px;
  	padding: 27px 50px 54px;
    position: absolute;
}

.footer__links {
	vertical-align : middle;
	color: rgba(255, 255, 255, 0.2);
	font-size: 10px;
	letter-spacing: -0.5px;
}

.footer__contact-info {
	margin-top : 24px;
	vertical-align : middle;
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	letter-spacing: -0.5px;
	line-height: 20px;
}
.footer__contact-info .footer__contact .footer__contact-title {
	float: left;
	width: 160px;
}
.footer .footer__contact-info .footer__contact .footer__contact-desc {
	float: left;
}
</style>
<script>
      $(function(){
              $("#newpasswd").validate({
                rules: {
                    password: {
                           required: true,
                           minlength : 6
                     },
                    newpassword: {
                           required : true,
                           minlength : 6,
                           equalTo : password
                      }
                },
                messages : {
                        password: {
                             required : "필수로 입력하세요",
                             minlength : "최소 {0}글자 이상이어야 합니다"
                             },
                        newpassword: {
                             required : "필수로 입력하세요",
                             minlength : "최소 {0}글자 이상이어야 합니다",
                             equalTo : "비밀번호가 일치하지 않습니다."
                            }
                }
            });
      });

         $(document).ready(function()
      {
        var navItems = $('.admin-menu li > a');
        var navListItems = $('.admin-menu li');
        var allWells = $('.admin-content');
        var allWellsExceptFirst = $('.admin-content:not(:first)');
        allWellsExceptFirst.hide();
        navItems.click(function(e)
        {
            e.preventDefault();
            navListItems.removeClass('active');
            $(this).closest('li').addClass('active');
            allWells.hide();
            var target = $(this).attr('data-target-id');
            $('#' + target).show();
        });
        });
        function submitbutton(){
          if($('#userfile').val()==""){
           alert('변경하려면 이미지를 선택해주세요');
           return false;
          }
          alert('제출되었습니다');
          return true
        }


</script>
<body>
<nav>
    <div class='logo'><img src='/images/logo.png' />
        <ul style="list-style: none; display: flex; margin:10; align-items: center;">
          <li class='active' style="margin-left:20% ; width: 100px;font-size: 18px;justify-content: center; align-items: center;"><a href="/" style="text-decoration:none; color: white;">홈</a></li>
          <li style="width: 150px;font-size: 18px;justify-content: center;align-items: center;"><a href="/category" style="text-decoration:none; color: white;">카테고리</a></li>
          <!-- <span style="float:right">
            <% if( typeof user !== "undefined") { %>
            <li style=" width: 150px;font-size: 18px ;align-items: center;justify-content: center;" ><%= user.nickname %><a href="/auth/logout"></a></li>
            <% } else { %>
            <li style="font-size: 18px;justify-content: center; align-items: center;"><a href="/auth/login" style="text-decoration:none; color: white; width: 100px;font-size: 18px;justify-content: center;">로그인</a></li>
            <% } %>
          </span> -->
        </ul>
      </div>
</nav>
</div>
</div>
<div class="container" >
        <div class="row" style="margin-top:10% ; margin-right:10">
            <div class="col-md-2" style="margin-top:5%">
                <ul class="nav nav-pills nav-stacked admin-menu" style="margin-top:10% ;" >
                    <li class="active"><a href="" data-target-id="profile"><i class="glyphicon glyphicon-user"></i> 프로필 </a></li>
                    <li><a data-target-id="change-password"><i class="glyphicon glyphicon-lock"></i> 비밀번호 변경하기 </a></li>
                    <li><a data-target-id="ticket"><i class="glyphicon glyphicon-usd"></i> 이용권 결제</a></li>
                    <li><a data-target-id="cash"><i class="glyphicon glyphicon-usd"></i> 캐시 결제</a></li>
                    <li><a data-target-id="status"><i class="glyphicon glyphicon-certificate"></i> 이용권 현황 및 보유 금액</a></li>
                    <li><a data-target-id="logout"><i class="glyphicon glyphicon-remove"></i> 회원탈퇴 </a></li>
                    <li><a data-target-id="lo"><i class="glyphicon glyphicon-log-out"></i> 로그아웃 </a></li>
                </ul>
            </div>
            <div class="col-md-9  admin-content" id="profile" style="margin-top:5% ;">
              <fieldset style="margin-left:11%">
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">프로필 이미지</h3>
                    </div>
                    <div class="panel-body">
                      <img src="<%= user.image %>" class="img-circle" style='height: 200px; width: 200px; object-fit: contain; margin-left:15px'/>
                      <div  style="margin-left:15px ;" >
                            <form action="/users/image" method="post" onsubmit="return submitbutton()" enctype="multipart/form-data">
                              <input type="file" name="userfile" id="userfile" accept=".jpg,.jpeg,.png,.gif,.bmp" >
                              <hr>
                              <button class="btn btn-success" type="submit" >프로필 이미지 변경</button>
                            </form>
                      </div>
                    </div>
                </div>

              <div class="panel panel-info" style="margin: 1em;">
                  <div class="panel-heading">
                      <h3 class="panel-title">이름</h3>
                  </div>
                  <div class="panel-body">
                      <%= user.name %>
                  </div>
              </div>
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">닉네임</h3>
                    </div>
                    <div class="panel-body">
                        <%= user.nickname %>
                    </div>
                </div>
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">이메일</h3>
                    </div>
                    <div class="panel-body">
                        <%= user.email %>
                    </div>
                </div>
              </fieldset>
            </div>

            <div class="col-md-9  admin-content" id="ticket" style="margin-top:6% ;">
                <fieldset style="margin-left:11%">
                <form class="form-horizontal" role="form" method='get' action="/users/pay">
                  <div class="panel panel-info" style="margin: 1em;">
                      <div class="panel-heading">
                          <h3 class="panel-title">1개월 이용권 구매</h3>
                      </div>
                      <div class="panel-body">
                        <h4>10000원</h4>
                         <hr>
                          <a href="/users"><button class="btn btn-success" type="submit" value="1" name="term" >구매하기</button></a>
                      </div>
                  </div>
                  <div class="panel panel-info" style="margin: 1em;">
                      <div class="panel-heading">
                          <h3 class="panel-title">3개월 이용권 구매</h3>
                      </div>
                      <div class="panel-body">
                        <h4>20000원</h4>
                        <hr>
                          <a href="/users"><button class="btn btn-success" type="submit" value="3" name="term" >구매하기</button></a>
                      </div>
                  </div>
                  <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">6개월 이용권 구매</h3>
                    </div>
                    <div class="panel-body">
                        <h4>35000원</h4>
                      <hr>
                        <a href="/users"><button class="btn btn-success" type="submit" value="6" name="term" >구매하기</button></a>
                    </div>
                  </div>
               </form>
              </fieldset>
            </div>

            <div class="col-md-9  admin-content" id="cash" style="margin-top:6% ;">
                <fieldset style="margin-left:11%">
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">캐시 결제</h3>
                    </div>
                    <br>
                    <div class="col-sm-10">
                      <span>
                      <div class="icon-addon addon-lg">
                      <form  method='get' action="/users/paycash">
                          <select class="form-control" name="cash" value="충전할 금액 입력">
                              <option>3000</option>
                              <option>5000</option>
                              <option>8000</option>
                              <option>10000</option>
                              <option>20000</option>
                          </select>
                      </div>
                        <hr>
                        </span>
                        <input type="submit" class="btn btn-success" value="충전하기">
                      </div>
                    <div class="panel-body">
                    </div>
                  </form>
                </div>
              </fieldset>
            </div>
            <div class="col-md-9  admin-content" id="change-password" style="margin-top:6% ;">
              <fieldset style="margin-left:10%">
                <form id="newpasswd" name="newpasswd" action="/users/pwdreset" method="post" onsubmit="return checknumber();">
                      <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="new_password" class="control-label panel-title">가입한 메일로 인증번호 전송</label></h3>
                        </div>
                      <div class="panel-body">
                          <div class="form-group">
                              <div class="col-sm-10">
                                <span>
                                  <input id="authnum" type="password" class="form-control" name="authnum"  placeholder="인증번호를 입력하세요" required/ >
                                  <hr>
                                  </span>
                                  <input type="button" class="btn btn-success" onclick="sendmail()" value="전송하기">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="new_password" class="control-label panel-title">새 비밀번호</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input id="password" type="password" class="form-control" name="password"  placeholder="6자리이상" required/ >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">비밀번호 확인</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input id="newpassword" type="password" class="form-control" name="newpassword" placeholder="6자리이상" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info border" style="margin: 1em;">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="pull-left  " style="margin-left:14px">
                                    <input type="submit" class="form-control btn btn-primary" name="submit" id="submit" value="비밀번호 변경하기">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
              </fieldset>
            </div>

            <form id="remove" action="/users/removeuser" method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?')">
              <div class="col-md-9  admin-content" id="logout" style="margin-top:6% ;padding-left:20;">
                <fieldset style="margin-left:12%">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <h3 class="panel-title">회원 탈퇴</h3>
                      </div>
                      <div class="panel-body">
                          탈퇴 이후에는 이용권 및 잔여 금액에 대한 복구 불가능합니다. 정말로 탈퇴하시겠습니까? <br><br>
                          <input id="login-remember" type="checkbox" name="remember" value="1" required/> 네. 회원 탈퇴하겠습니다.
                          <hr><button class="btn btn-success" type="submit" style="margin-left:40%">확인</button>
                              <button class="btn btn-success" ><a href data-target-id="profile" style="color:white">취소</a></button>
                      </div>
                  </div>
                </fieldset>
                </div>
            </form>

            <div class="col-md-9  admin-content" id="lo" style="margin-top:6% ;padding-left:20;">
              <fieldset style="margin-left:12%">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">로그아웃</h3>
                    </div>
                    <div class="panel-body">
                        로그아웃 시에 메인화면으로 돌아갑니다. <br><br>
                        <hr><button class="btn btn-success" type="submit" style="margin-left:40% "><a href="/auth/logout" style="color:white">확인</a></button>
                        <button class="btn btn-success" ><a href data-target-id="profile" style="color:white">취소</button>
                    </div>
                </div>
              </fieldset>
              </div>

              <div class="col-md-9  admin-content" id="status" style="margin-top:10% ;padding-left:20;">
                  <fieldset style="margin-left:12%">
                     <div class="panel panel-info">
                          <div class="panel-heading">
                              <h3 class="panel-title">이용권 현황 및 보유 금액 : <%= user.cash%></h3>
                          </div>
                          <table class="table" style="color: gray;">
                              <thead>
                                  <tr>
                                      <th>이용권</th>
                                      <th>구입 날짜</th>
                                      <th>만료 날짜</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <%
                                    if(ticket.length==0){
                                      var use="이용권 없음";
                                    }else
                                      var use="이용권 보유중";
                                    for(var i=0; i<ticket.length; i++)
                                    {
                                      var tick = ticket[i];
                                      var buytime = ticket[i].buyday.toLocaleString();
                                      var expiredtime = ticket[i].expired.toLocaleString();
                                  %>
                                  <tr>
                                      <td><%= use%></td>
                                      <td><%= buytime %></td>
                                      <td><%= expiredtime %></td>
                                  </tr>
                                  <%
                                      }
                                  %>
                              </tbody>
                          </table>
                      </div>
                  </fieldset>
            </div>
        </div>
      </div>
</body>
      <footer>
    		<div class="footer__links">
    			<a href="#">무하 서비스 이용약관</a>
    			<span>   |   </span>
    			<a href="#" class="privacy">개인정보 취급방침</a>
    			<span>   |   </span>
    			<a class="" href="/help">고객센터</a>
    			<span>   |   </span>
    			<a href="http://frograms.com/joinus" target="_blank">채용정보</a>
    		</div>
    		<div class="footer__contact-info" data-reactid=".2dgluquabr4.6.1">
    			<div class="footer__contact" data-reactid=".2dgluquabr4.6.1.0">
    				<div class="footer__contact-title" data-reactid=".2dgluquabr4.6.1.0.0">고객센터(이용 및 결제 문의)</div>
    				<div class="footer__contact-desc" data-reactid=".2dgluquabr4.6.1.0.1">
    					<a href="mailto:cs@watchaplay.net" data-reactid=".2dgluquabr4.6.1.0.1.0">https://www.kw.ac.kr</a>
    					<span data-reactid=".2dgluquabr4.6.1.0.1.1"> / 000-1234-5678 (유료)</span>
    				</div>
    			</div>
    			<div class="footer__contact" data-reactid=".2dgluquabr4.6.1.1">
    				<div class="footer__contact-title" data-reactid=".2dgluquabr4.6.1.1.0">제휴 및 대외 협력</div>
    				<div class="footer__contact-desc" data-reactid=".2dgluquabr4.6.1.1.1">
    					<a href="mailto:contact@watcha.com" data-reactid=".2dgluquabr4.6.1.1.1.0">https://ce.kw.ac.kr:501</a>
    					<span data-reactid=".2dgluquabr4.6.1.1.1.1"> / 000-1234-5678 (유료)</span>
    				</div>
    			</div>
    		</div>
    	</footer>

      <script>
      var num;
      function sendmail(){
        alert("인증번호가 전송됩니다.");
        var number=generateRandom(100000,999999);
        num=number;
        var val = <%-JSON.stringify(user) %>;
        $.ajax({
           type: 'POST',
           data: {'data':number ,'email':val.email },//오브젝트 형태로 넘김
           url: 'http://127.0.0.1:3000/users/authnum',
           success: function(data) {
           },
           error : function(error){
           }
        });
      }

      function checknumber(){
          if($('#authnum').val()==num){
            alert("비밀번호가 변경됩니다.");
            return true;
          }
          else{
            alert("인증번호가 틀렸습니다.");
            return false
          }
      }

      var generateRandom = function (min, max) {
      var ranNum = Math.floor(Math.random()*(max-min+1)) + min;
      return ranNum;
      }
      </script>
</html>
